.details-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px;
  color: white;
}

/* Card */
.details-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);

  padding: 40px 45px;
  border-radius: 18px;

  width: 750px;
  max-width: 95%;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
  transition: 0.3s ease;
}

.details-card:hover {
  transform: translateY(-3px);
}

/* Heading */
.details-heading {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
}

/* Layout */
.details-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* Left Section */
.details-left {
  flex: 2;
  font-size: 17px;
  line-height: 1.8;
}

.details-left p {
  margin-bottom: 12px;
  justify-items: center;
}

.details-left strong {
  font-weight: 600;
  opacity: 0.8;
}

/* Right Section */
.details-right {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Employee Photo */
.employee-photo {
  width: 200px;
  height: 230px;
  object-fit: cover;
  border-radius: 14px;

  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

/* Placeholder */
.photo-placeholder {
  width: 200px;
  height: 230px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  opacity: 0.8;
}

/* Buttons */
.details-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.details-buttons button {
  padding: 9px 18px;
  border-radius: 10px;
  border: none;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s ease;
}

.details-buttons button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}