.list-container {
  min-height: 100vh;
  padding: 60px 100px;
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: 'Inter', sans-serif;
  color: white;
}


.list-header {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.list-header h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
}

.list-subtitle {
  font-size: 16px;
  opacity: 0.7;
}
.search-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.search-input {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 250px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.analytics-btn {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #3171e9;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.analytics-btn:hover {
  background: #2a5298;
  transform: translateY(-50%) scale(1.05);
}

.table-card {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(255, 255, 255, 0.08);
}

th {
  padding: 18px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

td {
  padding: 16px 18px;
  font-size: 18px;
  opacity: 0.9;
}

tbody tr {
  transition: 0.3s ease;
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(75, 192, 192, 0.1);
}

thead th {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}


.loading {
  padding: 40px;
  text-align: center;
  font-size: 16px;
}