.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/login-bg.jpg") no-repeat center center/cover;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(1px);
}

.login-card {
  position: relative; 
  z-index: 1;
  width: 450px;
  height: 500px;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 60px;
  border-radius: 20px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  color: white;

  animation: fadeIn 0.6s ease;
}


.login-header {
  text-align: center;
  margin-bottom: 50px;
}

.login-header h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
}

.login-header p {
  font-size: 16px;
  opacity: 0.7;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Input Group */
.input-group label {
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 8px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 15px 18px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.12);
  color: white;
  font-size: 18px;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Password Wrapper */
.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}

/* Button */
.login-btn {
  margin-top: 9px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #3171e9;
  color: white;
  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #2a5298;
  transform: translateY(-2px);
}

/* Error */
.error-text {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ff6b6b;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}