.photo-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: white;
}

.video-preview {
  width: 400px;
  border-radius: 12px;
}

.preview-section {
  text-align: center;
}

.preview-image {
  width: 400px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.preview-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.preview-buttons button,
.photo-container button {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #3171e9;
  color: white;
  transition: 0.3s ease;
}

.preview-buttons button:hover,
.photo-container button:hover {
  background: #2a5298;
}