.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  background: rgb(222, 190, 32);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  color: rgb(0, 0, 0);
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 60%;      
  object-fit: cover;       
  border: 2px solid rgba(255, 255, 255, 0.2);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.logout-btn {
  border-radius: 18px;
  border: none;
margin-top: 0;
  background: #6f7c96;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #2a5298;
  transform: translateY(-2px);
}