* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
   background: linear-gradient(to right, #141e30, #243b55);
  height: 100%;
  overflow-x: hidden;
}